/* styles.css */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.hero {
    background-color: rgb(168, 36, 36);
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}

.hero p {
    margin: 0;
    font-size: 16px;
}

.input-fields, .output_container {
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-fields h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-fields input, 
.input-fields textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input:focus, 
textarea:focus {
    border: 2px solid rgb(68, 218, 255);
    outline: none;
}

.btn {
    text-align: center;
    margin-top: 20px;
}

button {
    width: 150px;
    background-color: rgb(163, 72, 15);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(50, 200, 255);
}

.output {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.output .heading {
    text-align: center;
    margin-bottom: 20px;
}

.output .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.output .info .box {
    width: 100%;
    margin-bottom: 10px;
}

@media(min-width: 768px) {
    .output .info .box {
        width: 48%;
    }
}
